.row
	.col-md-5
		%h1 Create Your Own Conversation Cards Now!
		%p Kaiwa Deck lets teachers create create custom conversation or discussion cards that can be used on any computer or smartphone. 
		%p You can try it <strong> for free </strong> right now.
	.col-md-7
		%h1 Insert IMAGE HERE!
.row
	.col-md-2
		= link_to "Try Now!", new_user_registration_path, :class => 'btn btn-success btn-xlg'
		%small *No Hassle. No Downloads.
	.col-md-3
		-# TODO Update Path
		= link_to "$29.95 Buy Now", new_user_registration_path, :class => 'btn btn-primary btn-xlg'
		%small *30 day money-back guarantee"
.row
	.col-md-5
		%h4 Featured Conversation Decks
	.col-md-7
		%h4 Less Work, More Fun and Educational Conversation Activities!
		%p Kaiwa Deck lets you:
		%p <strong> Save Time! </strong> You can create entire conversation card decks for an entire classroom on your normal computer in mere minutes. Writing cards by hand takes hours -- hours that you could better spend doing what you do best: teaching. Leave the busywork to the computer.
		%p <strong> Save Money! </strong> Don't spend $10-$15 on buying single card decks from traditional publishers -- Kaiwa Deck can make an infinite number of activities! If you plan on using conversation decks three times or more in your teaching career it's much cheaper to use Kaiwa Deck!
		%p <strong> Save Paper! </strong> Students can use their own iPhones and other smartphones, tablets, or computers.
