%section.page-top
  .container
    .row
      .col-md-12
        %h2 Online Conversation Cards
.container
  %h2.word-rotator-title
    Making language teaching
    .word-rotate
      .word-rotate-items
        %span enjoyable.
        %span effortless.
        %span effective.
  .row
    .col-md-10
      %p.lead
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non
        %span.alternative-font metus.
        pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eu risus enim, ut pulvinar lectus. Sed hendrerit nibh.
    .col-md-2
      %a.btn.btn-lg.btn-primary.push-top{href: "#"} Join Our Team!
  %hr.tall/
  .row
    .col-md-8
      %h3
        %strong Who
        We Are
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc
        %a{href: "#"} vehicula
        lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.
      %p
        Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing
        %span.alternative-font metus
        sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula.
    .col-md-4
      .featured-box.featured-box-secundary
        .box-content
          %h4 Behind the scenes
          %ul.thumbnail-gallery.flickr-feed{"data-plugin-options" => "{\"qstrings\": { \"id\": \"93691989@N03\" }}"}
-#   %hr.tall/
-#   .row
-#     .col-md-12
-#       %h3.push-top
-#         Our
-#         %strong History
-#   .row
-#     .col-md-12
-#       %ul.history
-#         %li{"data-appear-animation" => "fadeInUp"}
-#           .thumb
-#             %img{alt: "", src: "img/office-4.jpg"}/
-#           .featured-box
-#             .box-content
-#               %h4
-#                 %strong 2012
-#               %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus,
-#         %li{"data-appear-animation" => "fadeInUp"}
-#           .thumb
-#             %img{alt: "", src: "img/office-3.jpg"}/
-#             .featured-box
-#               .box-content
-#                 %h4
-#                   %strong 2010
-#                 %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia.
-#           %li{"data-appear-animation" => "fadeInUp"}
-#             .thumb
-#               %img{alt: "", src: "img/office-2.jpg"}/
-#             .featured-box
-#               .box-content
-#                 %h4
-#                   %strong 2005
-#                 %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus,
-#           %li{"data-appear-animation" => "fadeInUp"}
-#             .thumb
-#               %img{alt: "", src: "img/office-1.jpg"}/
-#             .featured-box
-#               .box-content
-#                 %h4
-#                   %strong 2000
-#                 %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus,
-# %footer#footer
-#   .container
-#     .row
-#       .footer-ribbon
-#         %span Get in Touch
-#       .col-md-3
-#         .newsletter
-#           %h4 Newsletter
-#           %p Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.
-#           #newsletterSuccess.alert.alert-success.hidden
-#             %strong Success!
-#             You've been added to our email list.
-#           #newsletterError.alert.alert-danger.hidden
-#           %form#newsletterForm{action: "php/newsletter-subscribe.php", method: "POST"}
-#             .input-group
-#               %input#newsletterEmail.form-control{name: "newsletterEmail", placeholder: "Email Address", type: "text"}/
-#               %span.input-group-btn
-#                 %button.btn.btn-default{type: "submit"} Go!
-#       .col-md-3
-#         %h4 Latest Tweet
-#         #tweet.twitter{"data-account-id" => ""}
-#           %p Please wait...
-#       .col-md-4
-#         .contact-details
-#           %h4 Contact Us
-#           %ul.contact
-#             %li
-#               %p
-#                 %i.icon.icon-map-marker
-#                 %strong Address:
-#                 1234 Street Name, City Name, United States
-#             %li
-#               %p
-#                 %i.icon.icon-phone
-#                 %strong Phone:
-#                 (123) 456-7890
-#             %li
-#               %p
-#                 %i.icon.icon-envelope
-#                 %strong Email:
-#                 %a{href: "mailto:mail@example.com"} mail@example.com
-#       .col-md-2
-#         %h4 Follow Us
-#         .social-icons
-#           %ul.social-icons
-#             %li.facebook
-#               %a{"data-placement" => "bottom", href: "http://www.facebook.com/", rel: "tooltip", target: "_blank", title: "Facebook"} Facebook
-#             %li.twitter
-#               %a{"data-placement" => "bottom", href: "http://www.twitter.com/", rel: "tooltip", target: "_blank", title: "Twitter"} Twitter
-#             %li.linkedin
-#               %a{"data-placement" => "bottom", href: "http://www.linkedin.com/", rel: "tooltip", target: "_blank", title: "Linkedin"} Linkedin
-#   .footer-copyright
-#     .container
-#       .row
-#         .col-md-1
-#           %a.logo{href: "index.html"}
-#             %img.img-responsive{alt: "Porto Website Template", src: "img/logo-footer.png"}/
-#         .col-md-7
-#           %p © Copyright 2014. All Rights Reserved.
-#         .col-md-4
-#           %nav#sub-menu
-#             %ul
-#               %li
-#                 %a{href: "page-faq.html"} FAQ's
-#               %li
-#                 %a{href: "sitemap.html"} Sitemap
-#               %li
-#                 %a{href: "contact-us.html"} Contact
-# /
-# Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
-# <script type="text/javascript">

-# var _gaq = _gaq || [];
-# _gaq.push(['_setAccount', 'UA-12345678-1']);
-# _gaq.push(['_trackPageview']);

-# (function() {
-# var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
-# ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
-# var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
-# })();

-# </script>