%section.page-top
  .container
    .row
      .col-md-12
        %h2 Online Conversation Cards
.container
  %h2.word-rotator-title
    Making language teaching
    .word-rotate
      .word-rotate-items
        %span enjoyable.
        %span effortless.
        %span effective.
  .row
    .col-md-10
      %p.lead
        Kaiwa Deck lets teachers create create custom conversation or discussion cards in minutes.        
        %br
        You can try it
        %strong for free
        right now.
  -# TODO enter pics for example
  .row
    = link_to "Try Free Now!", new_user_registration_path, :class => 'btn btn-success btn-xlg btn-block'
    %small *No Hassle. No Downloads.
  %hr.tall
  .row
    .col-md-12
      .row
        .col-md-4
          .feature-box.secundary
            .feature-box-icon
              %i.fa.fa-clock-o
            .feature-box-info
              %h4.shorter Save Time!
              %p.tall You can create entire conversation card decks for an entire classroom on your normal computer in mere minutes. Writing cards by hand takes hours -- hours that you could better spend doing what you do best: teaching. Leave the busywork to the computer.
        .col-md-4
          .feature-box.secundary
            .feature-box-icon
              %i.fa.fa-dollar
            .feature-box-info
              %h4.shorter Save Money!
              %p.tall Don't spend $10-$15 on buying single card decks from traditional publishers -- Kaiwa Deck can make an infinite number of activities! If you plan on using conversation decks three times or more in your teaching career it's much cheaper to use Kaiwa Deck!
        .col-md-4
          .feature-box.secundary
            .feature-box-icon
              %i.fa.fa-file-text-o
            .feature-box-info
              %h4.shorter Save Paper!
              %p.tall Students can use their own iPhones and other smartphones, tablets, or computers to use Kaiwa Deck.
      %hr.tall/
      .row
        .col-md-4
          .feature-box.secundary
            .feature-box-icon
              %i.fa.fa-group
            .feature-box-info
              %h4.shorter Tailor your activities!
              %p.tall If you buy card decks from publishers, you're limited to what they decide is best for you.  If you make custom decks yourself, you will always be able to match them directly to your lesson plan and students.
        .col-md-4
          .feature-box.secundary
            .feature-box-icon
              %i.fa.fa-lightbulb-o
            .feature-box-info
              %h4.shorter Keep your students interested in learning!
              %p.tall If you can think of it, you can put it into a Kaiwa Deck. Use it to prompt discussions, debates, and more.
        .col-md-4
          .feature-box.secundary
            .feature-box-icon
              %i.fa.fa-thumbs-up
            .feature-box-info
              %h4.shorter Buy with confidence.
              %p.tall In addition to a free trial so you can see if KaiwaDeck is right for you, we offer an unconditional 30 day money-back guarantee. If you're not satisfied with our software, we don't deserve your money.
%footer#footer.short
  .container
    .row
      .col-md-8
        %h4 About Kaiwa Deck
        %p
          Kaiwa Deck is made by teacher for teachers. Making life easier and the classroom more fun by letting teachers create custom conversation or discussion cards in mere minutes.
        %hr.light
  .footer-copyright
    .container
      .row
        .col-md-11
          %p © Copyright 2014. All Rights Reserved.