.what-to-do
	%p Here's what you need to do to get started:
	%ol
		%li
			Create a new word deck or use one of ours.
		%li
			Generate a special code corresponding with your deck to share with your students.
		%li
			Have students enter the code at kaiwadeck.com
	%strong That's it!