// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link

.navbar{
  background-color: #E567B1;
  .navbar-brand {
    font-weight: bold;
    color: white;
    &:hover{
      color: black;
    }
  }
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  padding-bottom: 80px;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

#card{
  padding-top: 1em;
  vertical-align: middle;
  text-align: center;
  font-size: 5em;
  height: 4em;
}

#arrows{
    text-align: center;
  span.glyphicon-arrow-left {
      font-size: 600%;
  }
  span.glyphicon-arrow-right {
      font-size: 600%;
  }

}


#dashboard{
  #buttons{
    text-align: center;
  }
  .what-to-do{
    background: none repeat scroll 0% 0% rgb(244, 232, 211);
    border: 1px solid rgb(242, 202, 192);
    padding: 15px;
    margin: 0px 0px 15px;
    border-radius: 10px 10px 10px 10px;
  }

  .col-md-4{
    background: none repeat scroll 0% 0% rgb(242, 242, 242);
    margin-right: 20px;
  }
  .col-md-7{
    background: none repeat scroll 0% 0% rgb(242, 242, 242);

  }
}

.btn-xlg {
    padding: 18px 28px;
    font-size: 2em;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }
