// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link


.navbar{
  background-color: #E567B1;
  .navbar-brand {
  font-weight: bold;
  color: white;
  }
}
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  // background-color: #eee;
  padding-bottom: 80px;
  width: 80%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

#card{
  padding-top: 1em;
  vertical-align: middle;
  text-align: center;
  font-size: 5em;
  height: 4em;
}

#arrows{
    text-align: center;
  span.glyphicon-arrow-left {
      font-size: 600%;
  }
  span.glyphicon-arrow-right {
      font-size: 600%;
  }

}
