:javascript
	window.cardArray = #{raw @cards.to_json};

%h1
	#card
		= @cards.first
#arrows
	%a{:href =>"#", :id => "previousCard"}
		%i.fa.fa-arrow-circle-left
	%a{:href =>"#", :id => "nextCard"}
		%i.fa.fa-arrow-circle-right