:javascript
	window.cardArray = #{raw @cards.to_json};

#card
	= @cards.first
#arrows
	%a.btn.btn-default.btn-lg{:href =>"#", :id => "previousCard"}
		%span.glyphicon.glyphicon-arrow-left
	%a.btn.btn-default.btn-lg{:href =>"#", :id => "nextCard"}
		%span.glyphicon.glyphicon-arrow-right