:javascript
	window.cardArray = #{raw @cards.to_json};
	var c = 0,
	    n = cardArray.length;

	$('#nextCard, #previousCard').click(function( e ){
	    e.preventDefault(); 
	    c = this.id=='nextCard' ? ++c : --c;
	    c = c<0? n-1 : c%n ;
	  
	    $('#text').text(cardArray[c].text);
	    //$('iframe')[0].src = cardArray[c].text;
	}); 

.textbox
	#text
		= @cards.first.text
	.arrow
		%a.btn.btn-default.btn-lg{:href =>"#", :type=>"button", :id => "previousCard"}
			%span.glyphicon.glyphicon-arrow-left
		%a.btn.btn-default.btn-lg{:href =>"#", :type=>"button", :id => "nextCard"}
			%span.glyphicon.glyphicon-arrow-right