:javascript
	window.cardArray = #{raw @cards.to_json};

#text
	= @cards.first
.arrow
	%a.btn.btn-default.btn-lg{:href =>"#", :id => "previousCard"}
		%span.glyphicon.glyphicon-arrow-left
	%a.btn.btn-default.btn-lg{:href =>"#", :id => "nextCard"}
		%span.glyphicon.glyphicon-arrow-right