.container
  %h1.logo
    .alternative-font
      KaiwaDeck
  %button.btn.btn-responsive-nav.btn-inverse{"data-target" => ".nav-main-collapse", "data-toggle" => "collapse"}
    %i.fa.fa-bars
.navbar-collapse.nav-main-collapse.collapse
  .container
    %nav.nav-main.mega-menu
      %ul#mainMenu.nav.nav-pills.nav-main
        - if user_signed_in?
          = render 'layouts/navigation_links'
        - else
          %li
            = link_to 'Home', root_path
          %li
            = link_to 'Sign Up', new_user_registration_path
          %li
            = link_to 'Sign In', new_user_session_path
